/*-- scss:defaults --*/

// Fonts

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Inconsolata&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-body: "Commissioner", sans-serif;
$font-family-title: 'Delius Unicase', cursive;
$font-family-monospace: 'Inconsolata', monospace;



// Colors
$light-sage-green: #f3f6f4;
$dark-sage-green: #5b6454;
$cream: #FDFBF7;
$dark-gray: #383139;
$gray: #64605f;
$rose: #aa6a6a;
$blue-green: #4fbdc9;
$blue: #5a77b9;
$light-gray: #949799;
$purple: #783b5a;
$black: #000000;
$burnt-orange: #ad7237;
$orange: #f88379;
$white: #ffffff;
$bordo: #6b2a24;
$yellow: #daa437;
$orange1: #B39847;
$orange2: #B3A372;
$green1: #EDF0EB;
$green2: #CBD0C4;
$green3: #8A9784;
$green4: #52594E;
$green5: #3C4138;
$purple1: #FAF9FB;
$purple2: #E6E5E7;
$purple3: #CECCCF;
$purple4: #AEA8B2;
$purple5: #584E59;
$purple6: #48424C;
$purple7: #413C44;

// Base document colors
$navbar-bg: $purple4;
$navbar-fg: $green1;
$navbar-hl: $green1;
$sidebar-bg: $purple4;
$sidebar-hl: $purple7;
$sidebar-fg: $purple5;
$body-bg: $purple1;
$body-color: $black;
$footer-bg: $cream;
$link-color: $green3;

// Inline code
$code-bg: $purple1;
$code-color: $purple7;

// Code blocks
$code-block-bg: $cream;

/*-- scss:rules --*/

/* ELEMENT SELECTORS */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  color: $purple7;
}

h3 {
  font-size: 35px;
}

body {
  font-family: $font-family-body;
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 19.5px;
}

/* ID selectors */

// responsive-ish iframes (width adjusts to viewport size; couldn't figure out how to expand viewport height, so set to this size for now)
#map-size {
  width: 100%;
  height: 350px;
}

.box {
  width: 700px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

/* CLASS SELECTORS (self-defined) */

// subtitles used with trestles template (currently using jolla)
/*.custom-subtitle {
  font-size: 22px;
  margin-bottom: 0.15em;
}

.custom-subtitle2 {
  font-size: 20px;
  font-style: italic;
}*/

// larger text
.large-text {
  font-size: 25px;
}

// slightly smaller than default text
.small-text {
  font-size: 17px;
}

// smallest text
.extra-small-text{
  font-size: 14px;
}

// extra space above line of text (but not as much as <br>)
.topbr {
    display: block;
    margin-top: 1em;
}

// center align text
.center-text {
  text-align: center;
  left: 50%;
}

// dark gray text
.dark-gray-text{
  color: $dark-gray;
}

// gray-italic text (mostly used for captions)
.gray-italic {
  color: $gray;
  font-style: italic;
  font-size: 17px;
}

// gray background
.quote-text-bg {
  background-color: rgba(152, 160, 141, 0.3); //rgba(166, 164, 161, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 15px;
}

// btn styling
.btn {
  color: $dark-gray;
  background-color: $cream; //$light-sage-green;
  border-color: $dark-gray;
}

// button hover styling
.btn:hover {
  color: $dark-gray;
  background-color: $purple;
  border-color: $dark-gray;
}

// image styling
.img-styling {
  border-radius: 2%;
  border: 2px solid $gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
 //width: 80%;
}

// center image only
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img {
  color: $purple7;
  max-height: 60px;
  width: auto;
}

// headshot shape
.rounded {
    border-radius: 50px 20px 50px 20px !important;
}

// button text size (landing page)
.about-link-text {
  font-size: 18px;
}

// button icon size (landing page)
.bi {
  font-size: 18px;
}

// listing card styling
.card {
  background-color: $cream;
  //border-radius: 5.25em;
}

// listing description text styling
.description {
  font-size: 25px;
}


.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #5B888C;
  border-bottom: 1px solid #5B888C;
  background-image: url("images/render-commit-push.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #E0A890;
  border-bottom: 1px solid #E0A890;
  background-image: url("images/pull.png");
  background-size: 1em;
  background-position: 1em 0.5em;
}

.reveal .takeaway h2 {
  font-size: 1.7em;
  font-weight: normal;
  color: #0F1620;
  text-align: center;
}

.reveal .takeaway {
  background-color: #e1ecf7;
  text-align: center;
}

.reveal .slide .quotebox-transparent {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  left: 15%;
  width: 70%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-transparent-low {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  left: 15%;
  bottom: 1%;
  width: 70%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-transparent-wide-high {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  left: 0%;
  bottom: 65%;
  width: 95%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-transparent-bottom-right {
  border: 2px solid #FFFFFF;
  padding: 0.5em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 35%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-transparent-bottom-right2 {
  border: 2px solid #FFFFFF;
  padding: 0.5em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  right: 0%;
  top: 0%;
  width: 35%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-opaque {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.95);
  position: absolute;
  left: 15%;
  width: 70%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .custom-title {
  font-family: 'Delius Unicase', cursive;
  color: #d2e3f3;
  font-size: 3em;
  position: absolute;
  left: 20px;
  top: 20px
}

.reveal .custom-subtitle {
  font-family: 'Delius Unicase', cursive;
  color: #d2e3f3;
  font-size: 1.2em;
  position: absolute;
  left: 20px;
  top: 200px
}

.reveal .custom-author {
  color: #d2e3f3;
  position: absolute;
  text-align: right;
  font-size: 1.1em;
  right: 0px;
  bottom: 40px;
  line-height: 1.5em;
}

.reveal .custom-url a {
  color: #9CE0F6;
  font-size: 1em;
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -10px;
}

.reveal .custom-url-middle-dark a {
  color: #0F1620;
  font-size: 1.75em;
  position: absolute;
  left: 20px;
  top: -150px;
}

.reveal .custom-url-top-white a {
  color: #FFFFFF;
  font-size: 1.1em;
  position: absolute;
  left: 20px;
  top: -475px
}

.reveal .custom-artwork {
  font-family: 'Delius Unicase', cursive;
  color: #d2e3f3;
  font-size: 0.8em;
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -90px;
}

.reveal .code-file {
  background-color: #ECECEC;
  margin-bottom: 2px !important;
}

.reveal .code-file p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.8em;
  margin-left: 0.8em;
}

.reveal .code-file code {
  color: #0F1620;
}

.reveal .title-top-light h1 {
  font-family: 'Delius Unicase', cursive;
  color: #75AADB;
  font-size: 3em;
  position: absolute;
  left: 20px;
  top: -400px
}

.reveal .title-top-ice h1 {
  font-family: 'Delius Unicase', cursive;
  color: #9CE0F6;
  font-size: 3em;
  position: absolute;
  left: 20px;
  top: -400px
}

.reveal .title-top-dark h1 {
  font-family: 'Delius Unicase', cursive;
  color: #0F1620;
  font-size: 3em;
  position: absolute;
  left: 20px;
  top: -400px
}

